<!--The content below is only a placeholder and can be replaced.-->
<form [class]="auth">
  <h3>Авторизация</h3>
  <input name="Login" type="text" placeholder="Логин">
  <input name="Password" type="password" placeholder="Пароль">
  <button (click)="auth = 'hide'; hide = 'account'" type="button">Войти</button></form>
<form [class]="hide">
  <h3>Введите ваши данные</h3>
  <input name="Name" type="text" placeholder="Фамилия">
  <input name="Last_name" type="text" placeholder="Имя">
  <input name="reg_date" type="date" placeholder="Дата регистрации">
  <label><input name="News" type="checkbox">Желаю получать новости</label>
  <button type="submit">Сохранить</button>
</form>
